#-----------------------------------------
# mod_pascal
# Apache 2.4 module which can execute
# Pascal program
#
# @link      https://github.com/zamronypj/mod_pascal
# @copyright Copyright (c) 2020 Zamrony P. Juhara
# @license   https://github.com/zamronypj/mod_pascal/blob/master/LICENSE (LGPL-2.1)
#------------------------------------------

#----------------------------------------------
# User configuration for development build
# Please see Free Pascal Documentation for available
# compiler switch configurations
#----------------------------------------------

#----------------------------------------------
# halt compiler after error, warning and notes
#----------------------------------------------
-Sewn

#----------------------------------------------
# Generate debugging information for debugging with gdb.
#----------------------------------------------
-g

#----------------------------------------------
# Generate debugging information for debugging with gdb.
#----------------------------------------------
-gl

#----------------------------------------------
# Check and assertion for I/O
#----------------------------------------------
-Ci

#----------------------------------------------
# Check and assertion for range
#----------------------------------------------
-Cr

#----------------------------------------------
# Check and assertion for overflow
#----------------------------------------------
-Co

#----------------------------------------------
# Check and assertion for stack
#----------------------------------------------
-Ct

#----------------------------------------------
# Check and assertion for method call verification
#----------------------------------------------
-CR

#----------------------------------------------
# include assertion code
#----------------------------------------------
-Sa

#----------------------------------------------
# verbose for debugging purpose
#----------------------------------------------
-vd

#----------------------------------------------
# Verbosity, show errors (e), warning (w), notes (n), hints (h)
#----------------------------------------------
-Vewnh

#----------------------------------------------
# Verbose unit searching info,
# Remove comment, in case unit file is not found
# so Free Pascal will output verbose message where
# it tries to look for unit file
#----------------------------------------------
#-vut
