#-----------------------------------------
# mod_pascal
# Apache 2.4 module which can execute
# Pascal program
#
# @link      https://github.com/zamronypj/mod_pascal
# @copyright Copyright (c) 2020 Zamrony P. Juhara
# @license   https://github.com/zamronypj/mod_pascal/blob/master/LICENSE (LGPL-2.1)
#------------------------------------------

#----------------------------------------------
# User configuration that applies to both
# development and production environment
# Please see Free Pascal Documentation for available
# compiler configurations
#----------------------------------------------

#----------------------------------------------
# Target OS
# linux : Linux
# win64 : Windows (not tested yet)
# freebsd : FreeBSD (not tested yet)
#----------------------------------------------
-Tlinux

#----------------------------------------------
# Target CPU
# x86_64 : Intel 64-bit architecture (default)
# i386 : Intel 32-bit architecture
#----------------------------------------------
#-Px86_64

#----------------------------------------------
# Executable output path
# $LIB_OUTPUT_DIR$ environment variable contains
# directory where output executable. (Default is bin)
#----------------------------------------------
-FE$LIB_OUTPUT_DIR$

#----------------------------------------------
# Library name (mod_pascal.so)
# $LIB_OUTPUT_NAME$ environment variable contains
# name where output executable. (Default is mod_pascal.so)
#----------------------------------------------
-o$LIB_OUTPUT_NAME$

#----------------------------------------------
# Unit output path, default it bin/unit
#----------------------------------------------
-FU$UNIT_OUTPUT_DIR$

#----------------------------------------------
# Library Unit search path
# SRC_DIR is contains library base directory
#----------------------------------------------
-Fu$SRC_DIR$

#----------------------------------------------
# Include configuration based on build type (default is prod)
# using #INCLUDE directive
# For example
# $ BUILD_TYPE=prod ./build.sh
#----------------------------------------------
#INCLUDE build.$BUILD_TYPE$.cfg
